.App {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  min-height: 100vh;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .mainContainer {
    max-width: 800px;
    padding: 30px;
  }
}
