* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, rgb(59, 55, 55) 0%, rgb(97, 97, 69) 53%);
}
h1 {
  color: bisque;
}

.pokemonList {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
